/* listing B.7 */
@use "button";

/* listing B.2 */
$brand-blue: #0086b3;

a:link {
  color: $brand-blue;
}

.page-heading {
  font-size: 1.6rem;
  color: $brand-blue;
}

/* listing B.3 */
$padding-left: 3em;

.note-author {
  padding-left: $padding-left;
  font-weight: bold;
}

.note-body {
  padding-left: $padding-left % 2;
}

/* listing B.4 */
.site-nav {
  display: flex;

  > li {
    margin-top: 0;

    &.is-active {
      font-weight: bold;
    }
  }
}

/* listing B.5 */
html {
  font-size: 1rem;

  @media (min-width: 45em) {
    font-size: 1.25rem;
  }
}

/* listing B.8 */
@mixin box {
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 0.1);
}

.main-tile {
  @include box;
  color: #333;
}

/* listing B.9 */
@mixin alert-variant($color, $bg-color) {
  padding: 0.3em 0.5em;
  border: 1px solid $color;
  color: $color;
  background-color: $bg-color;
}

.alert-info {
  @include alert-variant(blue, lightblue);
}

.alert-danger {
  @include alert-variant(red, pink);
}

/* listing B.10 */
%message {
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
}

.message-info {
  @extend %message;
  color: blue;
  background-color: lightblue;
}

.message-danger {
  @extend %message;
  color: red;
  background-color: pink;
}

/* listing B.11 */
$green: #63a35c;

$green-dark: darken($green, 10%);
$green-light: lighten($green, 10%);

$green-vivid: saturate($green, 20%);
$green-dull: desaturate($green, 20%);

$purple: adjust-hue($green, 180deg);
$teal: adjust-hue($green, 90deg);

.colors {
  color: $green-dark;
  color: $green-light;
  color: $green-vivid;
  color: $green-dull;
  color: $purple;
  color: $teal;
}

/* listing B.12 */
@for $index from 2 to 5 {
  .nav-links > li:nth-child(#{$index}) {
    transition-delay: (0.1s * $index) - 0.1s;
  }
}
